{{#if player_name}}
  Hey {{player_name}}, there are
{{/if}}

{{bottles}} bottles of beer on the wall.
{{#if next}}
  <a href="/{{next}}">Take one down, Pass it around</a>
{{else}}
  <a href="/">Start over</a>
{{/if}}
