<h1>Welcome to 99 bottles</h1>
<form class="" action="/" method="post">
  <label for="player_name">Please enter your name</label>
  <input type="text" name="player_name" id="player_name">
  <input type="submit">
</form>
