@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

body {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.4em;

  color: #000;
  background: url('../images/background.jpg');
  background-color: #d6d6d6;
  background-repeat: repeat-x;
}

a {
  text-decoration: none;

  color: #c63;
}

.container {
  max-width: 740px;
  margin: auto;
}

.logo {
  margin: 15px 0 30px;
}
.logo img {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.col-one {
  float: left;

  width: 60%;
  padding: 10px;

  background-color: snow;
}

.col-one img {
  width: 100%;
}

h1 {
  font-size: 24px;

  padding: 10px 0;
}

.byline {
  margin: 10px 0 30px;
  padding: 5px;

  border-top: 2px solid SlateGrey;
  border-bottom: 2px solid Black;
}

.col-two {
  float: right;

  width: 30%;
  padding: 10px;

  background-color: snow;
}

.col-two img {
  max-width: 100%;
  padding: 10px 0 10px;
}

.col-two .archive {
  padding-bottom: 20px;
}

footer {
  float: left;

  width: 100%;
  margin: 40px 0;

  text-align: center;
}

.social img {
  display: inline-block;
}
