<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pair Programming Bot</title>
    <style media="screen">
      body {
        background-color: <%= @rand_color %>;
        font-family: monospace;
        color: snow;
        text-align: center;
      }
    </style>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
